.nav-item .active {
    color: #083458;
}
#modallogo {
    padding-left: 0px !important;
}

.navbar-dark, .bg-dark {
    background-color: #404550 !important;
}

.bg-dark, .bg-dark a {
    color: #fff !important;
}

.navbar-dark .navbar-text {
    color: #404550 !important;
}

#geral-row {
    height: 100vh !important;
}

body {
    background-color: #252525 !important;
    color: #fff;
}

form, .modal h1, .modal h2, .modal h3, .modal h4, .modal h5, .modal h6{
    color: #252525 !important;
}

table, .table-hover tbody tr:hover, h1, h2, h3, h4, h5, h6 {
    color: #fff !important;
}

@media (max-width: 800px) 
{
    #area-button-save-title-c {
        text-align: center !important;
        margin-top: 20px;
    }
}

@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 100% !important;
    }
}
